<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.fedorvlasov.lazylist"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name="com.fedorvlasov.lazylist.MainActivity"
                  android:label="@string/app_name"
                  android:configChanges="keyboardHidden|orientation">
        </activity>

    </application>
</manifest> 